<%= form_with(model: shortened_url, local: true) do |form| %>
  <% if shortened_url.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shortened_url.errors.count, "error") %> prohibited this shortened_url from being saved:</h2>

      <ul>
      <% shortened_url.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.text_field :url, placeholder: 'Enter url', class: 'form-control', required: true %>
  </div>

  <div class="actions">
    <%= button_tag 'Submit', type: 'submit', class: 'btn btn-primary pull-right'  %>
  </div>
<% end %>
